---
import HTML5 from "../icons/HTML5.astro";
import React from "../icons/React.astro";
import CSS from "../icons/CSS3.astro";
import PillRoundedTechnology from "../PillRoundedTechnology.astro";
import Title from "../Title.astro";
import Content from "../Content.astro";
import Javascript from "../icons/Javascript.astro";
import { Image } from "astro:assets";
import {GraficoDeBarras, GraficoDeDispersion, GraficoDeCalor} from "../../assets/practice"

const activitys = [
  {
    title: "Grafico de barras",
    aptitudes: [
      {
        icon: Javascript,
        color: "yellow",
      },
      {
        icon: HTML5,
        color: "orange",
      },
      {
        icon: CSS,
        color: "blue",
      }
    ],
    url: "https://codepen.io/adiazt01/pen/VwqPQje?editors=1010",
    img: GraficoDeBarras,
  },
  {
    title: "Grafico de dispersion",
    aptitudes: [
      {
        icon: Javascript,
        color: "yellow",
      },
      {
        icon: HTML5,
        color: "orange",
      },
      {
        icon: CSS,
        color: "blue",
      }
    ],
    url: "https://codepen.io/adiazt01/pen/ExGZEaK",
    img: GraficoDeDispersion,
  },
  {
    title: "Grafico de calor",
    aptitudes: [
      {
        icon: Javascript,
        color: "yellow",
      },
      {
        icon: HTML5,
        color: "orange",
      },
      {
        icon: CSS,
        color: "blue",
      }
    ],
    url: "https://codepen.io/adiazt01/pen/VwqPXPy",
    img: GraficoDeCalor,
  },

];
---

<section class="min-h-screen py-16">
  <div class="max-w-[800px] m-auto px-8 flex gap-8 flex-col">
    <Title>Proyectos de certificación</Title>
    <Content>
      Estos son algunos de los proyectos que he realizado para obtener tanto
      experiencia como el certificados que avalen mis conocimientos.
    </Content>
    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mt-8">
      {
        activitys.map((activity) => (
          <article class="group overflow-hidden p-2 flex relative h-44 flex-col gap-2 shadow-lg">
            <Image
              src={activity.img}
              alt={activity.title}
              class="w-full h-full -z-10 group-hover:scale-125 absolute top-0 left-0 object-cover duration-500 transition-transform  ease-in-out" 
            />
            <div class="absolute top-0 left-0 w-full h-full group-hover:bg-black/50 bg-black/90 duration-500 z-10 transition-colors" />
            <div class="flex text-center gap-2 relative flex-col items-center justify-center w-full h-full z-20">
              <h3 class="absolute left-0 right-0 top-1/3 transition-all transform -translate-y-1/2 duration-500  overflow-y-auto text-xl text-white font-semibold max-h-20 animate-pulse">
                {activity.title}
              </h3>
              <ul class="absolute -bottom-12 left-0 right-0 flex flex-row justify-center flex-wrap group-hover:bottom-14 transition-all duration-500 transform gap-4 translate-y-1/3">
                {activity.aptitudes.map((aptitude) => (
                  <li class="flex items-center justify-center">
                    <PillRoundedTechnology
                      color={aptitude.color}
                      Icon={aptitude.icon}
                    />
                  </li>
                ))}
              </ul>
              <a
                href={activity.url}
                class="absolute px-3 w-28 rounded-md bg-emerald-500 hover:bg-emerald-400 hover:scale-105 m-auto py-1
                 -bottom-12 left-0 right-0 group-hover:bottom-2 transition-all font-bold text-white duration-500 transform translate-y-1/4"
                target="_blank"
              >
                Demo
              </a>
            </div>
          </article>
        ))
      }
    </ul>
  </div>
</section>
