---
import ButtonPrimary from "./ButtonPrimary.astro";
import PillTechnology from "./PillTechnology.astro";
import { Image } from "astro:assets";

const { project } = Astro.props;
const { title, description, image, github, url, technology } = project;
---

<article class="flex gap-2 flex-col">
  <header>
    <h4 class="text-xl font-semibold text-emerald-300">
      {project.title}
    </h4>
  </header>
  <!-- Espaciado igual a la experiencia laboral -->
  <div class="text-lg font-medium text-zinc-200">{description}</div>
  <ul class="flex flex-wrap gap-4 mt-4">
    {
      technology.map((tech) => (
        <li>
          <PillTechnology
            label={tech.label}
            color={tech.color}
            Icon={tech.icon}
          />
        </li>
      ))
    }
  </ul>
  <div class="mt-8">
    <Image width={300} height={200} src={image} alt={title} class="w-full m-auto max-w-[800px] h-auto" />
  </div>
  <footer class="flex mt-5 gap-2 flex-row w-full justify-end">
    <ButtonPrimary
      url={github}
      label="Ver código"
      icon="fab fa-github"
    />
    <ButtonPrimary
      url={url}
      label="Ver proyecto"
      icon="fas fa-external-link-alt"
    />
  </footer>
</article>
